<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Настройки подключения к базе данных -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/teamcraft_db</property>
        <property name="hibernate.connection.username">username</property>
        <property name="hibernate.connection.password">password</property>

        <!-- Настройки диалекта для PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Автоматическое создание таблиц -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Вывод SQL-запросов в консоль (для отладки) -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Указание сущностей (entity-классов) -->
        <mapping class="com.vorofpie.teamcraft.model.Programmer"/>
        <mapping class="com.vorofpie.teamcraft.model.Technology"/>
        <mapping class="com.vorofpie.teamcraft.model.SkillLevel"/>
        <mapping class="com.vorofpie.teamcraft.model.Group"/>
        <mapping class="com.vorofpie.teamcraft.model.GroupMember"/>
        <mapping class="com.vorofpie.teamcraft.model.History"/>
        <mapping class="com.vorofpie.teamcraft.model.Threshold"/>
        <mapping class="com.vorofpie.teamcraft.model.TechnologyRating"/>
        <mapping class="com.vorofpie.teamcraft.model.Project"/>

    </session-factory>
</hibernate-configuration>